footer.footer
	.container
		.footer__top
			a.footer__logo(href='#', target='_blank')
				+picture('logo', 'png')
			a.footer__home(href='/') На главную
			.footer__up
				+icon('arrow-up')
		.footer__adv Реклама
