header.header
	.container.header__container
		a.header__logo(href="#")
			+picture("logo", "png")(width='200', height='41')
		a.header__logo-cn(href="#")
			+icon("cnews-logo")(width='113', height='22')
