header.header
	.container.header__container
		a.header__logo(href='#', target='_blank')
			+picture('logo', 'png')(width='200', height='41')
		a.header__logo-cn(href='https://www.cnews.ru/', target='_blank')
			+icon('cnews-logo')(width='113', height='22')
