header.header
	.container.header__container
		a.header__logo(href='#', target='_blank')
			+picture('logo', 'png')
		.header__home
			a(href='/') На главную
		a.header__logo-cn(href='https://www.cnews.ru/', target='_blank')
			+icon('cnews-logo')
