.article-banner {
	$parent: &;

	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 20px;
	min-height: 573px;
	border-radius: 20px;
	overflow: hidden;
	padding: 32px 10px;

	@include max(ti) {
		gap: 40px;
		min-height: unset;
	}

	&--interview {
		#{$parent} {
			&__bg {
				&::after {
					background: radial-gradient(53.12% 137.82% at 32.08% 20.76%, #448ECA 0%, #28376D 100%);
					opacity: 0.6;
				}
			}

			&__text {
				margin-top: 14px;
			}
		}
	}

	&__bg {
		position: absolute;
		inset: 0;

		&::after {
			position: absolute;
			inset: 0;
			content: "";
			background: rgba($black, 0.65);
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__content {
		position: relative;
	}

	&__title {
		color: $white;
		font-weight: 700;
		font-size: 17px;
		line-height: 1.52;
		text-transform: uppercase;
	}

	&__image {
		width: 81px;
		height: 81px;
		border-radius: 50%;
		overflow: hidden;
		margin-top: 23px;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__text {
		color: $white;
		font-size: 14px;
		line-height: 1.28;
		margin-top: 37px;
	}

	&__button {
		position: relative;
	}
}