.banners {
	$parent: &;

	background-color: $color-background;
	border-radius: 40px;
	padding: 50px 0;

	@include max(ti) {
		padding: 30px 0;
	}

	& + .simple {
		margin-top: 50px;

		@include max(ti) {
			margin-top: 30px;
		}
	}

	&--single {
		#{$parent} {
			&__content-inner {
				@include max(ti) {
					width: 100%;
				}

				@include max(t) {
					width: 100%;
				}
			}

			&__title,
			&__text {
				@include max(ti) {
					max-width: 100%;
				}
			}
		}
	}

	&__container {
		display: flex;
		flex-wrap: wrap;
		gap: 58px;

		@include max(d) {
			gap: 30px;
		}

		@include max(ti) {
			flex-direction: column;
		}
	}

	&__image {
		width: calc(39.5% - 29px);
		border-radius: 40px;
		overflow: hidden;

		@include max(d) {
			width: calc(39.5% - 15px);
		}

		@include max(tl) {
			width: calc(50% - 15px);
		}

		@include max(ti) {
			order: 1;
			width: 100%;
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;

			@include max(ti) {
				aspect-ratio: 16 / 9;
			}
		}
	}

	&__content {
		width: calc(60.5% - 29px);
		padding-top: 26px;

		@include max(d) {
			width: calc(60.5% - 15px);
		}

		@include max(tl) {
			width: calc(50% - 15px);
		}

		@include max(ti) {
			display: flex;
			align-items: flex-start;
			gap: 30px;
			width: 100%;
			padding-top: 0;
		}

		@include max(t) {
			flex-direction: column;
		}
	}

	&__content-inner {
		@include max(ti) {
			width: calc(50% - 15px);
		}

		@include max(t) {
			width: 100%;
		}
	}

	&__title,
	&__text {
		max-width: 600px;
	}

	&__text {
		font-size: 18px;
		margin-top: 34px;

		@include max(ti) {
			font-size: fluid(16, 18, 0, 768);
			margin-top: 20px;
		}
	}

	&__button {
		margin-top: 34px;
	}

	&__image-inner {
		max-width: 100%;
		width: 230px;
		border-radius: 40px;
		overflow: hidden;
		margin: -30px 20px 0 auto;

		@include max(d) {
			margin-top: 20px;
		}

		@include max(tl) {
			margin-left: 0;
			margin-right: 0;
		}

		@include max(ti) {
			width: calc(50% - 15px);
			margin-top: 0;
		}

		@include max(t) {
			width: 100%;
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			aspect-ratio: 1 / 1;

			@include max(t) {
				aspect-ratio: 16 / 9;
			}
		}
	}
}
