.carousel {
	&__wrapper {
		display: flex;
		align-items: flex-start;
		margin-right: -25px;

		@include max(dl) {
			margin-right: 0;
		}

		@include max(tl) {
			flex-direction: column;
			gap: 20px;
		}
	}

	&__content {
		position: relative;

		@include max(dl) {
			width: calc(100% - 481px - 90px);
			padding-right: 15px;
		}

		@include max(tl) {
			order: 1;
			width: 100%;
			padding-right: 0;
		}
	}

	&__content-item {
		position: absolute;
		opacity: 0;
		pointer-events: none;

		&.active {
			position: relative;
			opacity: 1;
			pointer-events: auto;
			transition: 0.3s ease;
		}
	}

	&__title {
		margin-right: -45px;

		@include max(dl) {
			margin-right: 0;
		}
	}

	&__text {
		max-width: 407px;
		margin-top: 41px;

		@include max(tl) {
			max-width: 100%;
			margin-top: 20px;
		}
	}

	&__button {
		margin-top: 43px;

		@include max(tl) {
			margin-top: 30px;
		}
	}

	&__slider {
		position: relative;
		max-width: 481px;
		width: 100%;
		margin-top: 140px;
		aspect-ratio: 15 / 8;

		@include max(tl) {
			left: -20px;
			margin: 50px auto 0;
		}

		@include max(ti) {
			max-width: 300px;
		}
	}

	&__slide {
		position: absolute;
		inset: 0;
		border-radius: 40px;
		overflow: hidden;
		cursor: pointer;
		transition: 0.7s ease;

		&.active {
			animation: card-slide-active 0.4s ease forwards;
			z-index: 3;

			@include max(tl) {
				animation: card-slide-active-mobile 0.4s ease forwards;
			}
		}

		&.next {
			animation: card-slide-next 0.4s ease forwards;
			z-index: 2;

			@include max(tl) {
				animation: card-slide-next-mobile 0.4s ease forwards;
			}

			&::after {
				position: absolute;
				inset: 0;
				content: "";
				background-color: $color-icon-border;
				transition: 0.5s ease;
			}
		}

		&.last {
			animation: card-slide-last 0.7s ease forwards;
			z-index: 1;

			@include max(tl) {
				animation: card-slide-last-mobile 0.7s ease forwards;
			}

			&::after {
				position: absolute;
				inset: 0;
				content: "";
				background-color: $color-button;
				transition: 0.5s ease;
			}
		}

		&:nth-child(1) {
			//z-index: 3;
			//transform: translate3d(0, 0, -10px);
		}

		&:nth-child(2) {
			//z-index: 2;
			//transform: translate3d(40px, -40px, -10px);
		}

		&:nth-child(3) {
			//z-index: 1;
			//transform: translate3d(80px, -80px, -10px);
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}