.simple {
	$parent: &;

	position: relative;
	display: flex;
	align-items: center;
	min-height: 878px;
	background-color: $color-background;
	border-radius: 40px;
	overflow: hidden;
	padding: 40px 0;

	&--vertical {
		@include max(tl) {
			min-height: unset;
		}

		&::after {
			@include max(tl) {
				position: absolute;
				inset: 0;
				content: "";
				display: block;
				background-color: rgba($white, 0.8);
			}
		}

		#{$parent} {
			&__content {
				@include max(ti) {
					margin-left: 0;
				}
			}
		}
	}

	&--horizontal {
		flex-direction: column;
		min-height: unset;
		padding: 70px 0 0;

		@include max(ti) {
			padding: 30px 0 0;
		}

		#{$parent} {
			&__bg {
				position: relative;
				top: unset;
				width: 1440px;
				height: 352px;
				margin-top: 88px;

				@include max(tl) {
					height: 250px;
					margin-top: 40px;
				}

				@include max(ti) {
					height: 180px;
					margin-top: 30px;
				}
			}

			&__content {
				max-width: 1008px;
				margin-left: 0;
			}

			&__text {
				max-width: 861px;
			}
		}
	}

	&__container {
		position: relative;
		z-index: 1;
	}

	&__bg {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		width: 1355px;
		height: 878px;
		stroke-dasharray: 1000;
		stroke-dashoffset: 1000;

		&.show {
			animation: dash 3s linear forwards;
		}
	}

	&__content {
		max-width: 542px;
		margin-left: auto;
	}

	&__text {
		max-width: 489px;
		margin-top: 30px;
	}

	&__button {
		margin-top: 36px;
	}
}