.title-gradient {
	position: relative;
	border-radius: 10px;
	padding: 16px;
	font-weight: 700;
	color: $white;
	font-size: 40px;
	text-align: center;
	background: linear-gradient(45deg, #14256d 0%, #4494cf 55%, #4494cf 100%);
	background-size: 300%;
	animation: gradient-button 10s linear infinite;

	@include max(d) {
		font-size: fluid(34, 40, 992, 1280);
	}

	@include max(tl) {
		font-size: fluid(30, 34, 768, 992);
	}

	@include max(ti) {
		font-size: fluid(26, 30, 0, 768);
	}

	&--offset {
		margin: 75px 0;

		@include max(ti) {
			margin: 30px 0;
		}
	}
}
