/* Breakpoints */
$media-list: (
	'm': 0,
	't': 575,
	'ti': 767,
	'tl': 991,
	'd': 1279,
	'dl': 1439,
	'dxl': 1679,
);

/* Fonts */
$mainFont: 'Rosatom', sans-serif;

/* Colors */
$black: #333333;
$white: #ffffff;
$color-background: #e8f3ff;
$color-button: #015fa1;
$color-icon-border: #6dace4;
$color-title: #0e559a;
$color-h3: #28376d;
